---
import Leaderboard from '../components/Leaderboard.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Racing Leaderboard</title>
  </head>
  <body>
    <h1>Arcade Racing Leaderboard</h1>
    <Leaderboard client:load />
  </body>
</html>
