---
import Leaderboard from '../components/Leaderboard.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Racing Leaderboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
	<style>
		body {
			font-family: 'Orbitron', sans-serif;
			background-color: #111;
			color: #fff;
			text-align: center;
			padding: 2rem;
		}
	</style>
  </head>
  <body>
    <h1>Arcade Racing Leaderboard</h1>
    <Leaderboard client:load />
  </body>
</html>
